services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      # Mount the current directory to /app for live code changes
      - .:/app
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=postgres
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-tender_rag}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

#   neo4j:
#     image: neo4j:5
#     environment:
#       NEO4J_AUTH: ${NEO4J_AUTH:-neo4j/password}
#       NEO4J_PLUGINS: '["apoc"]'
#     ports:
#       - "7474:7474"
#       - "7687:7687"
#     volumes:
#       - neo4j_data:/data
#     healthcheck:
#       test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider localhost:7474 || exit 1" ]
#       interval: 5s
#       timeout: 5s
#       retries: 5

volumes:
  postgres_data: #   neo4j_data:
